<h1>Tax Calculator</h1>
<div class="col-md-6">
    <form [formGroup]="taxForm" (ngSubmit)="calcTaxes(taxForm.value)">
        <div class="form-group">
            <label>Choose to calculate </label>
            <label>Monthly</label>
            <input class="radio-inline" title="monthly" formControlName="monthly" ng-model="calculateannual" id="monthly" type="radio" (click)="setmonthlyRadio(true)" [value]="true" [(ngModel)]="calculateannual"/>
            <label> or annually</label>
            <input class="radio-inline" title="annually" formControlName="annual" ng-model="calculateannual" id="annual" type="radio" (click)="setmonthlyRadio(false)" [value]="false" [(ngModel)]="calculateannual"/>
        </div>
        <div class="form-group" *ngIf="taxForm.controls['monthly'].value == true; then contentMonthly else contentAnnual">
        </div>
        <ng-template #contentMonthly><div><label>Monthly Income</label></div></ng-template>
        <ng-template #contentAnnual><div><label>Annual Income</label></div></ng-template>
        <div class="form-group" [ngClass]="{'error': income.invalid && income.dirty }">
            <input class="form-control" formControlName="income" id="income" type="number" placeholder="Taxable income goes here..." />
        </div>
        <div class="form-group">
            <label>Enter the amount you pay into R.A.</label>
            <input class="form-control" formControlName="raamount" id="raamount" type="number" placeholder="RA..." />
        </div>
        <div class="form-group">
            <label>Enter your age</label>
            <input class="form-control" formControlName="ageinyrs" id="ageinyrs" type="number" placeholder="Just the years..." inputmode="numeric" />
        </div>
        <div class="form-group">
            <label>Do you have Medical Aid?</label>
            <label>Yes</label>
            <input class="radio-inline" title="Yes" formControlName="havemedical" ng-model="youhavemedical" id="havemedical" type="radio" (click)="setRadio(true)" [value]="true" />
            <label class="label-default">No</label>
            <input class="radio-inline" title="No" formControlName="nomedical" ng-model="youhavemedical" id="nomedical" type="radio" (click)="setRadio(false)" [value]="false" />
        </div>
        <div class="form-group" *ngIf="taxForm.controls['havemedical'].value == true">
            <label>Select number of dependants on your medical</label>
            <select class="form-control" formControlName="dependants">
                <option value="">select dependants...</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <button type="submit" [disabled]="taxForm.invalid && taxForm.controls['havemedical'].value == false">Calculate</button>
        <button type="reset">Reset</button>
    </form>
</div>
<table class='table' *ngIf="taxes">
    <thead>
        <tr>
            <th>Taxable Income</th>
            <th>Tax Payable</th>
            <th>Take Home Pay</th>
            <th>Take Home Less R.A.</th>
            <th>Effective Rate</th>
            <th>Medical</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ taxes.taxableIncome }}</td>
            <td>{{ taxes.taxPayable }}</td>
            <td>{{ taxes.takeHome }}</td>
            <td>{{ taxes.takeHomeLessRA }}</td>
            <td>{{ taxes.effectiveTaxRate }}%</td>
            <td *ngIf="youhavemedical; then medYes else medNo"></td>
            <ng-template #medYes><td>Yes</td></ng-template>
            <ng-template #medNo><td>No</td></ng-template>
        </tr>
    </tbody>
</table>
